.body {
	background-color: rgb(215, 185, 139);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	font-family: "Mansalva", cursive;
	font-weight: lighter;
	height: 100vh;
}
.h1 {
	color: #3d2608;
	font-size: 22px;
	@media all and (min-width: 768px) {
		font-size: 42px;
	}
}
.scores_box {
	display: flex;
	justify-content: center;
	background-color: #a3712f;
	padding: 20px;
	gap: 40px;
	width: 280px;
	font-size: small;
	color: #3d2608;
	@media all and (min-width: 768px) {
		width: 300px;
	}
}
.grid {
	width: 303px;
	height: 303px;
	display: flex;

	flex-wrap: wrap;

	background-color: rgb(209, 157, 79);
	@media all and (min-width: 768px) {
		width: 603px;
		height: 603px;
	}
}
.square {
	width: 100px;
	height: 100px;
	border: solid 0.5px black;
	@media all and (min-width: 768px) {
		width: 200px;
		height: 200px;
	}
}
.mole {
	background-image: url(./n9z7_0lnk_220227\ [Convertido].png);
	background-position: center;
	background-size: contain;
	background-color: #3d2608;
}
